<!DOCTYPE html>
<html>
<head>
  <title>Drinks.com Coding Challenge</title>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
  <section class="hero is-fullheight is-info is-bold">
    <div class="container">
      <%= yield %>
    </div>
    <div class="hero-foot is-full-width level">
      <div style="padding: 50px; margin: 0 auto;" class="level-left">
        <a href="http://www.rachelchervin.com" target="_blank" class="button is-success is-outlined">Made by Rachel Chervin</a>
      </div>
    </div>
  </section>
</body>
</html>
